.infoMain{
    width: 30vw;
    min-height: 40vh;
    background: #5746EA;
    border-radius: 12px;
    display: flex;
    padding: 12px;
    gap: 12px;
}
img{
    height: 32vh;
    width: 8vw;
    position: relative;
    top:4vh;
}
.selected_categorie {
    display: flex;
    color: #fff;
    margin-top: 0.5rem;
  }
  .selected_genere {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 30vw;
  }
  .selected_genere p {
    background: #9f94ff;
    padding: 0.3rem 1.4rem;
    border-radius: 1.5rem;
  }